<!doctype html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

<div class="container" id="app_01">
    <h1>{{title}}</h1>

    <ul class="nav nav-tabs">
        <li class="nav-item" v-for="tab in tabs" @click="tabsActive = tab">
            <a class="nav-link" :class="{ 'active' : tabsActive == tab }" href="#">{{tab}}</a>
        </li>
    </ul>

    <div class="m-4 box-shadow" v-for="user in users" v-if="tabsActive == 'lite'">
        <address>
            <strong>{{user.username}}</strong>
            <br>
            <a href="mailto:#">{{user.email}}</a>
        </address>
    </div>

    <div class="card m-4 box-shadow" v-for="user in users" v-if="tabsActive == 'middle'">
        <div class="card-header">
            <h4>{{user.name}}</h4>
        </div>
        <div class="card-body">
            <address>
                <strong>{{user.username}}</strong>
                <br>
                <abbr title="Phone">P:</abbr> {{user.phone}}
                <br>
                <a href="mailto:#">{{user.email}}</a>
            </address>
        </div>
    </div>

    <div class="card m-4 box-shadow" v-for="user in users" v-if="tabsActive == 'height'">
        <div class="card-header">
            <h4>{{user.name}}</h4>
        </div>
        <div class="card-body">
            <address v-if="user.address">
                <strong>{{user.address.city}}</strong><br>
                {{user.address.zipcode}}, Suite {{user.address.suite}}<br>
                {{user.address.street}}
            </address>
            <address>
                <strong>{{user.username}}</strong>
                <br>
                <abbr title="Phone">P:</abbr> {{user.phone}}
                <br>
                <a href="mailto:#">{{user.email}}</a>
            </address>
        </div>
    </div>

</div>

<script>
  new Vue({
    el: "#app_01",

    data: function () {
      return {
        title: 'Пример типового приложения на VUE',
        tabs: ['lite', 'middle', 'height'],
        tabsActive: null,
        users: []
      }
    },

    methods: {
      loadUsers: function (values) {
        this.users = values
      }
    },

    created: function () {
      this.tabsActive = this.tabs[0];
      fetch('https://jsonplaceholder.typicode.com/users')
        .then(function (response) {
          return response.json();
        })
        .then(this.loadUsers)
    }

  })
</script>